/* Estilos generales para botones */
.button {
    -fx-background-color: #0078d7; /* Color de fondo del botón */
    -fx-text-fill: white; /* Color del texto */
    -fx-border-radius: 5; /* Bordes redondeados */
    -fx-background-radius: 5; /* Radio del borde del fondo */
    -fx-padding: 10; /* Padding dentro del botón */
}

.button:hover {
    -fx-background-color: #005a9e; /* Color de fondo del botón al pasar el ratón */
}

/* Estilo específico para el botón Limpiar Formulario */
.button-limpiar {
    -fx-background-color: #e67e22; /* Color de fondo diferente para 'Limpiar Formulario' */
}

.button-limpiar:hover {
    -fx-background-color: #d35400; /* Color de fondo del botón al pasar el ratón */
}

/* Estilo específico para el botón Volver al Inicio */
.button-volver {
    -fx-background-color: #CC0000; /* Color de fondo diferente para 'Volver al Inicio' */
}

.button-volver:hover {
    -fx-background-color: #FF6347; /* Color de fondo del botón al pasar el ratón */
}

/* Estilo para la cabecera */
.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* Estilos adicionales si son necesarios... */


/* Estilo para los botones en las pestañas */
.tab-pane .button {
    -fx-padding: 10px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold; /* Fuente en negrita */
    -fx-border-width: 0;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

/* Cambio de estilo al pasar el mouse por encima en las pestañas */
.tab-pane .button:hover {
    -fx-background-color: #45a049;
}

/* Estilo para la tabla y las columnas */
#tablaHabitaciones {
    -fx-pref-height: 300px; /* Altura preferida de la tabla */
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent; /* Color del borde de las celdas */
    -fx-table-header-border-color: transparent; /* Color del borde del encabezado */
}

/* Alineación del contenido en el centro */
#idHabitacionColumna,
#capacidadColumna,
#descripcionColumna,
#estadoColumna,
#precioColumna {
    -fx-alignment: CENTER; 
}
