
/*Estilo para la cabecera*/
.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    
}

/* Estilo para el botón de cierre */
.button-cerrar {
    -fx-background-color: #CC0000; /* Rojo oscuro */
    -fx-text-fill: #bbbbbb; /* Color de texto negro */
    -fx-font-weight: bold; /* Fuente en negrita */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-border-radius: 4px; /* Radio de los bordes */
    -fx-cursor: hand;
}

/* Cambio de estilo al pasar el mouse por encima */
.button-cerrar:hover {
    -fx-background-color: rgba(56, 142, 60, 0.8); /* Color de fondo verde claro con transparencia */
    -fx-text-fill: #E0E0E0; /* Color de texto blanco */
}

/* Estilo para los botones en las pestañas */
.tab-pane .button {
    -fx-padding: 10px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold; /* Fuente en negrita */
    -fx-border-width: 0;
    -fx-border-radius: 8px;
    -fx-cursor: hand;
}

/* Cambio de estilo al pasar el mouse por encima en las pestañas */
.tab-pane .button:hover {
    -fx-background-color: #45a049;
}

/* Estilo para la tabla y las columnas */
#tablaHabitaciones {
    -fx-pref-height: 300px; /* Altura preferida de la tabla */
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent; /* Color del borde de las celdas */
    -fx-table-header-border-color: transparent; /* Color del borde del encabezado */
}

/* Alineación del contenido en el centro */
#idHabitacionColumna,
#capacidadColumna,
#descripcionColumna,
#estadoColumna,
#precioColumna {
    -fx-alignment: CENTER; 
}
